:root {
    --main-bg-color: #D0ECE7;
    --main-txt-color: black;
    --main-padding: 15px;
    --header-bg-color: orange;
    --header-txt-color: yellow;
    --input-bg-color: #A2D9CE;
    --input-txt-color: ;

}

body {
    margin: 0px;
    background-color: var(--main-bg-color);
    font-family: "Montserrat";
    /*background-color: var(--header-bg-color) !important;*/
    /*color: var(--header-txt-color) !important;*/
}

.main {}

.header {
    display: grid;
    grid-template-columns: 30px auto;
    text-align: center;
    /*align: middle;*/
    background-color: var(--header-bg-color);
    color: var(--header-txt-color);
}

.content {
    display: grid;
    grid-template-columns: 250px auto 30%;
    grid-column-gap: 10px;
    grid-template-rows: 50px;
    grid-row-gap: 10px;
}

.content_hidden {
    display: grid;
    grid-template-columns: 49% 49%;
    grid-column-gap: 10px;
    grid-template-rows: 50px;
    grid-row-gap: 10px;
}

.input-panel {
    background-color: var(--input-bg-color);
    grid-row-end: span 12;
    padding: 8px;
}

.input-panel H1 {
    grid-row-start: 1;
    grid-row-end: 3;
    text-align: center;
    font-family: "Helvetica";
    font-size: 22px;
}

.upload-data {
    grid-row-start:4;
    grid-row-end: 6;
    line-height: 60px;
    border-width: 1px;
    border-style: dashed;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
    cursor: pointer;
}

.visualization-panel {
    background-color: var(--input-bg-color);
    grid-row-end: span 3;
    padding: 8px;
}

.output-panel {
    background-color: var(--input-bg-color);
    grid-row-end: span 5;
    padding: 8px;
}