#main-body {
    display: grid;
    grid-template-columns: 250px auto 450px;
    grid-column-gap: 10px;
    grid-template-rows: 50px;
    grid-row-gap: 10px;
}

.input-panel {
    background-color: #f9a800;
    grid-row-end: span 12;
    padding: 8px;
}

.input-panel H1 {
    grid-row-start: 1;
    grid-row-end: 3;
    text-align: center;
    font-family: "Palatino", "Georgia", "Verdana", "Helvetica";
    font-size: 22px;
}

.upload-data {
    grid-row-start:4;
    grid-row-end: 6;
    line-height: 60px;
    border-width: 1px;
    border-style: dashed;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
    cursor: pointer;
}
